In [48]:
def pattern(n):
   
   for i in range(n):      ## using the for loop  for top 5 rows 
      for j in range(i+1):
        
         print("* ",end="")
      print("\r")
      
  
   for i in range(n):      ## using the for loop for the bottom 5 rows
      for j in range(n-i-1):
         
         print("* ",end="")
      print("\r")
 
n = int(input('Enter the number of rows: '))


pattern(n)

Enter the number of rows: 5
*
* *
* * *
* * * *
* * * * *
* * * *
* * *
* *
*

In [26]:
## we are using the looping to output the elements from a provided list present at odd indexes
list = [10, 20, 30, 40, 50, 60, 70, 80, 90, 100]
list = [10, 20, 30, 40, 50, 60, 70, 80, 90, 100]
for i in list[1::2]:
    print(i, end=" ")

20 40 60 80 100

In [54]:
x = [23,'Python', 23.98]
n = []
for i in range(len(x)):
     n.append(type(x[i]))     ### here we are using type function to get types of elements and printing them
print(n)
print(x)

[<class 'int'>, <class 'str'>, <class 'float'>]
[23, 'Python', 23.98]

In [34]:
def unique_list(l):
  x = []
#using for loop
  for a in l:
    if a not in x:
      x.append(a)
  return x
print(unique_list([1,2,3,3,3,3,4,5]))

[1, 2, 3, 4, 5]

In [42]:
Input_String= 'The quick Brow Fox'
lower = [i for i in Input_String if i.islower()]
upper = [j for j in Input_String if j.isupper()]

print('Lowercase characters:', len(lower))
print('Uppercase characters:', len(upper))

Lowercase characters: 12
Uppercase characters: 3