In [1]:
ages = [19,22,19,24,20,25,26,24,25,24]
ages.sort()
minAge = min(ages)
maxAge = max(ages)
ages.append(minAge)
ages.append(maxAge)
ages.sort()
length = len(ages)
medianAge = ages[ (length+1)//2] if length%2==1 else (ages[length//2]+ages[ (length//2)+1])/2
sumofAges = sum(ages)
averageofAges = sumofAges//length
rangeofAges = maxAge-minAge
print("Sorted list: " , ages)
print("Min age:" ,minAge)
print("Max age :",maxAge)
print("Median :",medianAge)
print("Average :",averageofAges)
print("Range:",rangeofAges)

Sorted list:  [19, 19, 19, 20, 22, 24, 24, 24, 25, 25, 26, 26]
Min age: 19
Max age : 26
Median : 24.0
Average : 22
Range: 7

In [2]:
#creating dog dictionary
dog=dict()
dog["Name"]="Doodle"
dog["Color"]="Black"
dog["Breed"]="poodle"
dog["legs"]=4
dog["Age"]=14
print(" Dog dictionary is : ",dog)
print()

#creating student dictionary
student=dict()
student["first_name"]="Triveni"
student["last_name"]="Bala"
student["Gender"]="Female"
student["Age"]=23
student["Martal status"]="single"
student["Skills"]=["python","Java","AWS"]
student["Country"]="India"
student["City"]="khammam"
student["Address"]="vdos colony"
print("Student dictionary is : ",student)


#length of student dictionary
print("length of student dictionary is : ",str(len(student)));

#value of student skills and datatype
print("student skills are : ",end='')
print(student["Skills"])
print("type of student skills is : ",type(student["Skills"]))

#modifying student skills
student["Skills"].append("Skill A")
student["Skills"].append("Skill B")
print("modified student skills : ",student["Skills"])

#getting dictionary keys as list
dog_keys=list(dog.keys())
print("dog dictionary keys : ",dog_keys)
student_keys=list(student.keys())
print("student dictionary keys : ",student_keys)
dog_values=list(dog.values())
print("dog dictionary values : ",dog_values)
student_values=list(student.values())
print("student dictionary values : ",student_values)

 Dog dictionary is :  {'Name': 'Doodle', 'Color': 'Black', 'Breed': 'poodle', 'legs': 4, 'Age': 14}

Student dictionary is :  {'first_name': 'Triveni', 'last_name': 'Bala', 'Gender': 'Female', 'Age': 23, 'Martal status': 'single', 'Skills': ['python', 'Java', 'AWS'], 'Country': 'India', 'City': 'khammam', 'Address': 'vdos colony'}
length of student dictionary is :  9
student skills are : ['python', 'Java', 'AWS']
type of student skills is :  <class 'list'>
modified student skills :  ['python', 'Java', 'AWS', 'Skill A', 'Skill B']
dog dictionary keys :  ['Name', 'Color', 'Breed', 'legs', 'Age']
student dictionary keys :  ['first_name', 'last_name', 'Gender', 'Age', 'Martal status', 'Skills', 'Country', 'City', 'Address']
dog dictionary values :  ['Doodle', 'Black', 'poodle', 4, 14]
student dictionary values :  ['Triveni', 'Bala', 'Female', 23, 'single', ['python', 'Java', 'AWS', 'Skill A', 'Skill B'], 'India', 'khammam', 'vdos colony']

In [3]:
#creating tuples brothers and sisters
sisters=("Trishanka","Rashmika")
brothers=("sai","","Sampath","Vishnu" , "RamCharan")
print("brothers are : ",brothers)
print("sisters are : ",sisters)

#joining brothers and sisters tuples to siblings
siblings=brothers+sisters
print("siblings are : ",siblings)
print("number of siblings are : ",len(siblings))

#modifying siblings tuple by adding father name and mother name
family_members=("father","mother")+siblings
print("family members are : ",family_members)

brothers are :  ('sai', '', 'Sampath', 'Vishnu', 'RamCharan')
sisters are :  ('Trishanka', 'Rashmika')
siblings are :  ('sai', '', 'Sampath', 'Vishnu', 'RamCharan', 'Trishanka', 'Rashmika')
number of siblings are :  7
family members are :  ('father', 'mother', 'sai', '', 'Sampath', 'Vishnu', 'RamCharan', 'Trishanka', 'Rashmika')

In [4]:
# given list of IT companies
it_companies = {"Facebook", "Google", "Microsoft", "Apple", "IBM", "Oracle", "Amazon"}
A = {19, 22, 24, 20, 25, 26}
B = {19, 22, 20, 25, 26, 24, 28, 27}
age = [22, 19, 24, 25, 26, 24, 25, 24]
print("length of it_companies : ", len(it_companies))

# adding twitter to it_companies
it_companies.add("Twitter")
print("it_companies after appending twitter :", it_companies)

# inserting multiple it companies
companies = ["NCR", "Wipro", "TCS"]
it_companies.update(companies)
print("it_companies after appending multiple companies :", it_companies)

# removing one company
it_companies.remove("Twitter")
print("it_companies after removing one company : ", it_companies)

# Difference between remove and discard method
# The remove() method will raise an error if the specified item does not exist, and the discard() method will not raise error.

# joining A and B
C = A.union(B)
print("joining A and B gives :", C)

# finding A intersection B
I = A.intersection(B)
print("Intersection of A and B is:", I)

# checking is A subset of B
check = A.issubset(B)
if check:
    print("A is subset of B")
else:
    print("A is not a subset of B")

# checking are A and B are disjoint sets
check1 = A.isdisjoint(B)
if check1:
    print("A and B are disjoint sets")
else:
    print("A and B are not disjoint sets")

# joining A with B and B with A
A_join_B = A.union(B)
B_join_A = B.union(A)
print("A join B is :", A_join_B)
print("B join A is :", B_join_A)

# symmetric difference between A and B
D = A.symmetric_difference(B)
print("symmetric difference between A and B is :", D)

# deleting all the sets
it_companies.clear()
A.clear()
B.clear()

# converting ages list to set
age_set = set(age)
print("length of ages list is : ", len(age))
print("length of ages set is :", len(age_set))
print("length of ages list is greater than the ages set")

length of it_companies :  7
it_companies after appending twitter : {'Amazon', 'Twitter', 'Microsoft', 'Oracle', 'Facebook', 'IBM', 'Google', 'Apple'}
it_companies after appending multiple companies : {'Twitter', 'IBM', 'Wipro', 'Google', 'Microsoft', 'NCR', 'TCS', 'Amazon', 'Oracle', 'Facebook', 'Apple'}
it_companies after removing one company :  {'IBM', 'Wipro', 'Google', 'Microsoft', 'NCR', 'TCS', 'Amazon', 'Oracle', 'Facebook', 'Apple'}
joining A and B gives : {19, 20, 22, 24, 25, 26, 27, 28}
Intersection of A and B is: {19, 20, 22, 24, 25, 26}
A is subset of B
A and B are not disjoint sets
A join B is : {19, 20, 22, 24, 25, 26, 27, 28}
B join A is : {19, 20, 22, 24, 25, 26, 27, 28}
symmetric difference between A and B is : {27, 28}
length of ages list is :  8
length of ages set is : 5
length of ages list is greater than the ages set

In [5]:
r=30
_area_of_circle=3.14*(r**2)
print("area of circle :",_area_of_circle)
_circum_of_circle=2*3.17*r
print("circumference of circle :",_circum_of_circle)
n=int(input())
area=3.14*(n**2)
print("Area of circle with user input :",area)

area of circle : 2826.0
circumference of circle : 190.2
30
Area of circle with user input : 2826.0

In [6]:
# given string to the variable a
a="I am a teacher and I love to inspire and teach people"
# split the given string
b=a.split()
# using set to remove duplicates
set1=set(b)
# using len to count number of words
count=len(set1)
# printing the value
print(count)

10

In [8]:
#tab escape
# declaring a string to the txt variable
txt = "Name\tAge\tCountry\tCity\nAsabeneh\t250\tFinland\tHelsinki"
#print the requried output
print(txt)

Name	Age	Country	City
Asabeneh	250	Finland	Helsinki

In [9]:
#Assigned variable radius
radius=10
#Assigned area of circle formula
area=3.14 * radius ** 2
#print the output using string format
print("The area of circle with radius {} is {} meters square".format(radius,area))

The area of circle with radius 10 is 314.0 meters square

In [10]:
n=int(input("Enter number of student's weight to be calculated"))
weights_in_lbs=[]
weights_in_kg=[]
#appending the elements into the list
for i in range(n):
    weights_in_lbs.append(int(input("weight {} \n".format(i+1))))
print(weights_in_lbs)
#converting lbs to kilogram with exactly 2 decimal places
for i in range(len(weights_in_lbs)):
    lbs=0.45359237 #1lbs= 0.45359237kg
    temp=round(weights_in_lbs[i]*lbs,2)
    weights_in_kg.append(temp)
    temp=0
print(weights_in_kg)

Enter number of student's weight to be calculated2
weight 1
3
weight 2
45
[3, 45]
[1.36, 20.41]